@import url('https://fonts.cdnfonts.com/css/photograph-signature');
@import url('https://fonts.cdnfonts.com/css/kozuka-gothic-pro');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
width: 100%;
min-height: 100vh;
margin: 0;
padding: 0;
font-family: 'EB Garamond';
display: flex;
flex-direction: column;
}

.secondSection{
margin-bottom: 50px;
}

.otherEvents{
border: 1px solid #ECD597;
}

.hidden{
display: none;
}
.visible{
display: block;
}
.gold{
background-color: #BE9E47;
}
.goldtext{
color: #BE9E47;
}
.flip-card-back{
transform: rotateY(180deg);
}
input[type="checkbox"] {
display: none;
}
label {
cursor: pointer;
}
input[type="checkbox"] + label:before {
border: 1px solid #ECD597;
content: "\00a0";
display: inline-block;
font: 16px/1em sans-serif;
height: 16px;
margin: 0 .25em 0 0;
padding: 0;
vertical-align: top;
width: 16px;
color: #fff;
border-radius: 5px;
}
input[type="checkbox"]:checked + label:before {
background: #ECD597;
content: "\2713";
}
input[type="checkbox"]:checked + label:after {
font-weight: bold;
}
.inputInfo, select{
border-color: #ECD597;
padding-left: 10px;
}
input:focus, select:focus { 
outline: none !important;
border-color: #ECD597;
box-shadow: 0 0 10px #719ECE;
}
input::placeholder{
text-align: center;
}
input:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px white inset;
}
select:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px white inset;
}
select>options:-webkit-autofill {
-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

.firstSection{
padding: 20px 0 0 30px;
}
#firstH2{
margin-bottom: 5px;
}

.eventDetails{
display: flex;
width: 286px;
flex-direction: row;
align-items: center;
font-size: 14px;
font-weight: 400;
line-height: 20px;
height: 24px;
padding: 0;
margin-bottom: 5px;
}
#location, #location3{
height: 48px;
}
#location1, #location2, #location4{
height: 24px;
}
.eventDetails > img{
margin-right: 10px;
}
.eventsh2{
text-align: left;
width: 100%;
padding-left: 70px;
font-size: 25px;
margin-bottom: 10px;
}
.flip-card-front > h2{
height: 62px;
width: 326px;
font-size: 34px;
font-weight: 700;
line-height: 35px;
text-align: center;
margin: 0;
}

.flip-card-front > p{
width: 261px;
height: 53px;
font-size: 18px;
font-weight: 400;
line-height: 53px;
text-align: center;

}
.flip-card-back > h2{
font-weight: 700;
font-size: 24px;
line-height: 20px;
height: 40px;
width: 286px;
margin-top: 0;
}

.eventDetailsDiv{
display: flex;
flex-direction: column;
align-items: center;
justify-content: left;
margin-bottom: 10px;
}

.buttonDiv{
width: 286px;
display: flex;
align-items: left;
}
button{
background-color: #ECD597;
color: #171717;
border-radius: 20px;
width: 286px;
height: 64px;
padding: 20px 40px 20px 40px;
gap: 20px;
opacity: 0px;
border: 0px;
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-align: center;
cursor: pointer;
font-family: 'EB Garamond';
}

.chosenEvents{
flex-direction: row;
align-items: center;
justify-content: space-between;
width: 100%;
height: 69px;
background-color: #FFFAED;
margin: 5px;
padding: 0 10px 0 5px;
text-align: left;
}

.eventName{
font-size: 18px;
font-weight: 700;
line-height: 52px;
text-align: left;
color: #171717;
}
.eventcancel{
cursor: pointer;
}
.h5{
font-size: 14px;
font-weight: 400;
line-height: 24px;
align-self: baseline;
text-align: left;
color: #393939;
}
.h3{
font-size: 18px;
font-weight: 500;
line-height: 24px;
text-align: left;
color: #BE9E47;
margin: 10px;
}
.hiddenEvents{
border: 1px solid #ECD597;
border-radius: 20px;
overflow: hidden;
height: fit-content;
display: flex;
flex-direction: column;
align-items: center;
justify-content: left;
}

#registrationDiv1 > div.telPhoneInputDiv > div.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown > div.iti__flag-container > div.iti__selected-flag > div.iti__flag.iti__globe,
#partnerDetails > div.telPhoneInputDiv > div.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown > div.iti__flag-container > div.iti__selected-flag > div.iti__flag.iti__globe{
display: none !important;
}
#registrationDiv1 > div.telPhoneInputDiv > div.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown > div.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown,
#partnerDetails > div.telPhoneInputDiv > div.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown > div.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown,
#registrationDiv1 > div.telPhoneInputDiv > div.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown,
#partnerDetails > div.telPhoneInputDiv > div.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown,
.buttonLink{ 
width: 100% !important;
}
.checkBoxClass{
margin-top: 10px;
margin-bottom: 10px;
}

.inputInfo, select{
border: 1px solid #ECD597;
height: 60px;
border-radius: 10px;
width: 100%;
margin-bottom: 10px;

}
.inputDiv, .telPhoneInputDiv{
margin-bottom: 10px;
}

select > option{
font-family: 'EB Garamond';
}

.containerDiv{
display: flex;
width: 100%;
align-items: top;
justify-content: space-between;
gap: 40px;
padding: 40px;
}
.form3, .hiddenEvents{
width: 40%;
display: flex;
flex-direction: column;
}
#start, #end{
width: 50%;
margin-top: 10px;
}

#partnerDetails > h2{
margin-bottom: 5px;
}
#dateDiv{
display: flex;
width: 100%;
gap: 10px;
}
hr{
color: #ECD597;
opacity: 0.7;
margin: 15px
}

footer{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}
a{
color: #171717;
}
.cover{
display: flex;
position: relative;
align-items: center;
overflow: hidden;
max-width: 1200px;
width: 100%;
padding: 40px, 0;
}
.cover .scrollImages{
position: relative;
display: flex;
max-width: 900px;
transition: 0.5s;
border-radius: 10px;
}

.cover .arrow button{
font-size: 20px;
width: 100px;
height: 100px;
top: 50%;
cursor: pointer;
}
.cover .arrow{
width: 1200px;
position: absolute;
justify-content: space-between;
display: flex;
top: 40%;
margin-left: 15px;
}

.main-scroll-div{
display: flex;
flex-direction: column;
align-items: center;
background-color: #ffffff00;
width: 100%;
}

.flip-card{
perspective: 1000px;
height: 316px;
border-radius: 25px;
margin-right: 10px;
background-color: #ffffff00;
padding-right: 20px;
padding-left: 20px;
}

.flip-card-front{
background-repeat: no-repeat;
background-size: cover;

}

.flip-card-inner {
background-color: #ffffff00;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
transition: transform 0.6s;
transform-style: preserve-3d;
}
.flip-card-front{
background-color: transparent;
}
.flip-card-front, .flip-card-back{
width: 100%;
height: 100%;
border-radius: 25px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
color: white;
position: absolute;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}

.inputInfo::-webkit-input-placeholder { /* Chrome/Opera/Safari */
font-family: 'EB Garamond';
}
.inputInfo::-moz-placeholder { /* Firefox 19+ */
font-family: 'EB Garamond';
}

.swiper-navBtn{
color: #ECD597;
transition: color 0.3s ease;
}
.swiper-navBtn:hover{
color: #BE9E47;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
font-size: 40px;
}
.swiper-button-next{
right: 0;
}
.swiper-button-prev{
left: 0;
}
@media only screen and (max-width: 810px){
.flip-card{
perspective: 1000px;
height: 316px;
overflow: hidden;
border-radius: 25px;
background-color: #ffffff00;
padding-right: 10px;
}

.cover .scrollImages{
position: relative;
display: flex;
transition: 0.5s;
border-radius: 10px; 
width: 100%;
}

.containerDiv{
display: flex;
width: 100%;
align-items: top;
justify-content: space-between;
gap: 40px;
padding: 20px;
flex-direction: column-reverse;
padding-right: 0;

}
.form3, .hiddenEvents{
display: flex;
flex-direction: column;
width: 90%;
}
.eventName{
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-align: left;
color: #171717;
}
button{
width: 150px;
height: 50px;
font-size: 16px;
font-weight: 700;
line-height: 12px;
padding: 10px 20px 10px 20px;
}
.flip-card-front > h2{
font-size: 30px;
line-height: 32px;
}

.flip-card-front > p{
font-size: 18px;
line-height: 45px;

}
}