@import url('https://fonts.cdnfonts.com/css/photograph-signature');
@import url('https://fonts.cdnfonts.com/css/kozuka-gothic-pro');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
.gold{
    background-color: #BE9E47;
}
.flip-card-front, .flip-card-back{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-card-back{
    transform: rotateY(180deg);
}
.flip-card{
    perspective: 1000px;
    background-color: transparent;
    width: 335px;
    height: 316px;
    margin: 1px 10px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

.eventDetails{
    display: flex;
    width: 286px;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    height: 24px;
    padding: 0;
    margin-bottom: 5px;
}
#location, #location3{
    height: 48px;
}
#location1, #location2, #location4{
    height: 24px;
}
.eventDetails > img{
    margin-right: 10px;
}
.flip-card-front > h2{
    height: 62px;
    width: 326px;
    font-family: 'Kozuka Gothic Pro', sans-serif;
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    margin: 0;
}

.flip-card-front > p{
    width: 261px;
    height: 53px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 53px;
    text-align: center;

}
.flip-card-back > h2{
    font-weight: 700;
    font-family: 'Kozuka Gothic Pro', sans-serif;
    font-size: 24px;
    line-height: 32px;
    height: 58px;
    width: 286px;
    margin-top: 0;
}
button{
    background-color: #ECD597;
    color: #171717;
    border-radius: 20px;
    width: 286px;
    height: 64px;
    padding: 20px 40px 20px 40px;
    gap: 20px;
    opacity: 0px;
    border: 0px;
    font-family: 'Kozuka Gothic Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    cursor: pointer;
}
.main-scroll-div{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cover{
    position: relative;
}
.scroll-images{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: auto;
}

.flip-card{
    overflow: hidden;
    border-radius: 25px;
    margin: 1px 10px;
}
.chosenEvents{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 474px;
    height: 69px;
    background-color: #FFFAED;
    margin: 5px;
    padding: 0 10px 0 5px;
}
.chosenEventsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;
    padding: 10px 0 0 5px;
}
.eventcancel{
    cursor: pointer;
}
.h5{
    font-family: 'Kozuka Gothic Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    align-self: baseline;
    text-align: left;
    color: #393939;
}
.h3{
    font-family: 'Kozuka Gothic Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    color: #BE9E47;
    margin: 10px;
}
.hiddenEvents{
    border: 1px solid #171717;
    border-radius: 20px;
    min-height: 100px;
    width: 474px;
}
.eventName{
    font-family: 'Kozuka Gothic Pro', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
    color: #171717;

}
#registrationDiv1 > div.telPhoneInputDiv > div.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown > div.iti__flag-container > div.iti__selected-flag > div.iti__flag.iti__globe{
    display: none !important;
}
#registrationDiv1 > div.telPhoneInputDiv > div.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown > div.iti.iti--allow-dropdown.iti--show-flags.iti--inline-dropdown{ 
    width: 477px !important;
}
#demoCheckbox{
    border-color: #ECD597 !important;
    background-color: #ECD597 !important; 
}

input, select{
    border-width: 1px;
    height: 60px;
    border-radius: 10px;
    width: 100%;
}
#tshirtSize > option:nth-child(1){
    color: #393939;
}
.containerDiv{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}
form{
    width: 477px;
}
#start, #end{
    width: 50%;
}
#dateDiv{
    display: flex;
    width: 477px;
    gap: 10px;
}
hr{
    color: #ECD597;
    opacity: 0.7;
}
.scrollButton1{
    cursor: pointer;
    background-color: #ffffff00;
    position: absolute;
    z-index: 10;
    left: 9px;
}
.scrollButton{
    cursor: pointer;
    background-color: #ffffff00;
    position: absolute;
    z-index: 10;
    right: 0px;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
a{
    color: #171717;
}